<?xml version="1.0" encoding="UTF-8"?>
<TrackingData>    <Sensors>
        <Sensor Subtype="FAST" Type="FeatureBasedSensorSource">
            <SensorID>FeatureBasedSensorSource_0</SensorID>
            <Parameters>
                <MaxObjectsToDetectPerFrame>5</MaxObjectsToDetectPerFrame>
                <MaxObjectsToTrackInParallel>1</MaxObjectsToTrackInParallel>
            </Parameters>            <SensorCOS>
                <SensorCosID>marker0</SensorCosID>
                <Parameters>
                    <SimilarityThreshold>0.7</SimilarityThreshold>
                    <ReferenceImage WidthMM="960" HeightMM="720">bot_15000000010200_.jpg</ReferenceImage>
                </Parameters>
            </SensorCOS>
        </Sensor>
    </Sensors><Connections>        <COS>
            <Name>marker0</Name>
            <Fuser Type="SmoothingFuser">
                <Parameters>
                    <AlphaRotation>0.8</AlphaRotation>
                    <AlphaTranslation>1.0</AlphaTranslation>
                    <GammaRotation>0.8</GammaRotation>
                    <GammaTranslation>1.0</GammaTranslation>
                    <KeepPoseForNumberOfFrames>3</KeepPoseForNumberOfFrames>
                </Parameters>
            </Fuser>
            <SensorSource>
                <SensorID>FeatureBasedSensorSource_0</SensorID>
                <SensorCosID>marker0</SensorCosID>
                <HandEyeCalibration>
                    <TranslationOffset>
                        <x>0.0</x>
                        <y>0.0</y>
                        <z>0.0</z>
                    </TranslationOffset>
                    <RotationOffset>
                        <x>0.0</x>
                        <y>0.0</y>
                        <z>0.0</z>
                        <w>1.0</w>
                    </RotationOffset>
                </HandEyeCalibration>
                <COSOffset>
                    <TranslationOffset>
                        <x>0.0</x>
                        <y>1.0</y>
                        <z>0.0</z>
                    </TranslationOffset>
                    <RotationOffset>
                        <x>0.0</x>
                        <y>0.0</y>
                        <z>0.0</z>
                        <w>1.0</w>
                    </RotationOffset>
                </COSOffset>
            </SensorSource>
        </COS></Connections></TrackingData>